.container {
    width: 500px;
    min-height: 500px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


body {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    padding-top: 40px;
}

.test {
    border: 1px solid green;
    height: 248px;
    width: 248px;
}